.fighter-indicator {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 30px;
}

.fighter-name {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 26px;
    font-family: 'Arial Black';
    font-weight: 700;
}
